* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body {
  background-color: #F7EFED;
  font-family: 'Gilroy', sans-serif;
}

.container {
  width: 1290px;
  margin: 0 auto;
}

.header {
  margin-top: 50px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__search-button {
  margin-right: 18px;
  position: relative;
}

.header__search-button::after {
  position: absolute;
  right: -9px;
  content: '';
  width: 2px;
  height: 46px;
  background-color: #000;
}

.header__cart-button {
  margin-right: 35px;
}

.logo__image {
  width: 190px;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin: 0 25px;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.menu__link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: all 0.2s;
  transform: translateX(-50%);
}

.menu__link:hover:after {
  width: 100%;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
