@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Regular.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Medium.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Semibold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy"; 
    src: url("../fonts/Gilroy-Bold.ttf") format("truetype"); 
    font-style: normal;
    font-weight: 700;
}