@import 'reset.scss';
@import 'fonts.scss';

body {
    background-color: #F7EFED;
    font-family: 'Gilroy', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__search-button {
        margin-right: 18px;
        position: relative;

        &::after {
            position: absolute;
            right: -9px;
            content: '';
            width: 2px;
            height: 46px;
            background-color: #000;
        }
    }

    &__cart-button {
        margin-right: 35px;
    }
}

.logo {

    &__image {
        width: 190px;
    }
}

.menu {

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0 25px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: #000;
            transition: all 0.2s;
            transform: translateX(-50%);
        }

        &:hover {

            &:after {
                width: 100%;
            }
        }
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.main {
    position: relative;
    margin-bottom: 70px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        width: 520px;
        margin-right: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 99px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 30px;
        color: #aaa;
        margin-bottom: 30px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__amount-buttons {
        display: flex;
        align-items: center;
    }

    &__amount-counter {
        margin: 0 15px;
    }

    &__image {
        position: relative;
        height: 590px;
        transform: rotate(-8.3deg);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: transparent;
            box-shadow: 0px 10px 60px 30px rgba(18, 18, 24, 0.17);
        }
    }

    &__ingredients {
        display: flex;
        flex-direction: column;
    }

    &__ingredient {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__pepper1-bg {
        position: absolute;
        z-index: -1;
        top: 130px;
        left: 32%;
        width: 208px;
    }

    &__pepper2-bg {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -90px;
        width: 165px;
    }

    &__plane-bg {
        position: absolute;
        z-index: -1;
        top: -100px;
        left: 340px;
        width: 607px;
    }

    &__chips-bg {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: -155px;
        width: 215px;
    }

}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 7px 24px 7px 7px;
    border-radius: 50px;
    transition: all 0.2s;

    &__image {
        background-color: #ffd154;
        padding: 17px;
        border-radius: 50%;
        margin-right: 24px;
    }

    &__img {
        height: 28px;
    }

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.2s;
    }

    &:hover {
        background-color: #ffd154;

        .add-to-cart-button__text {
            color: #000;
        }
    }
}

.change-amount-button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 30px;
    line-height: 0;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.08));
}

.amount-counter {
    padding: 8px;
    border: 1px solid #ffd154;
    border-radius: 50%;

    &__inner {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
}

.ingredient {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #206456;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        &_corn {
            background-color: #d51037;
        }

        &_spices {
            background-color: #FDB339;
        }
    }

    &__img {
        height: 45px;
    }
}

.other {

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 72px;
        background-color: #23675a;
        border-radius: 50px 50px 0px 0px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1010px;
    }
}

.product {
    display: flex;
    align-items: center;

    &__image {
        height: 165px;
        z-index: 5;
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 8px 30px 44px;
        background-color: #fff;
        border-radius: 20px;
        transform: translateX(-40px);
    }

    &__name {
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-transform: uppercase;
    }

    &__button {
        padding: 10px 20px;
        background-color: #ffd154;
        border-radius: 20px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        transition: all 0.2s;

        &:hover {
            background-color: #fdb339;
        }
    }
}

.more-button {
    background-color: transparent;
    border-radius: 50%;

    &__image {
        width: 80px;
        height: 80px;
    }
}

.cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

    &__wrapper {
        position: relative;
        z-index: 11;
        padding: 40px 110px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.3);
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        margin-bottom: 30px;
    }

    &__table {
        margin-bottom: 10px;

        td {
            padding-bottom: 20px;
        }
    }

    &__headers {
        padding-bottom: 20px;
    }

    &__header {
        width: 110px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align-last: left;
        padding-bottom: 20px;

        &:first-child {
            width: 330px;
        }

        &:last-child {
            width: 80px;
        }
    }

    &__product {
        font-size: 24px;
        line-height: 29px;
    }

    &__remove-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
        padding-top: 4px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }

    &__total {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }

    &__input {
        width: 190px;
        padding: 13px 15px;
        font-size: 20px;
        line-height: 24px;
        background-color: #FFFFFF;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        margin-right: 30px;
    }

    &__button {
        padding: 13px 50px;
        background-color: #23675A;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        transition: all 0.2s;

        &:hover {
            background-color: #1a4941;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.75;
    }

    &_active {
        display: flex;
    }
}

@media (max-width: 1439px) {
    
    .container {
        width: 1100px;
    }

    .header {
        margin-top: 30px;
    }

    .main {

        &__content {
            width: 420px;
        }

        &__title {
            font-size: 64px;
            line-height: 80px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        &__image {
            height: 450px;
        }

        &__buttons {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        &__amount-buttons {
            margin-bottom: 20px;
        }

        &__pepper1-bg {
            width: 150px;
            top: 50px;
            left: 30%;
        }

        &__pepper2-bg {
            width: 100px;
            bottom: -70px;
        }

        &__plane-bg {
            width: 400px;
            left: 430px;
        }

        &__chips-bg {
            width: 160px;
        }
    }

    .ingredient {
        width: 160px;

        &__text {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .other {

        &__wrapper {
            padding: 20px 50px;
        }

        &__list {
            width: 99%;
        }
    }

    .more-button {

        &__image {
            width: 50px;
            height: 50px;
        }
    }

    .product {

        &__text {
            width: 220px;
            transform: translateX(-40px);
        }
    }
}