@import 'reset.scss';
@import 'fonts.scss';

body {
    background-color: #F7EFED;
    font-family: 'Gilroy', sans-serif;
}

.container {
    width: 1290px;
    margin: 0 auto;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__buttons {
        display: flex;
        align-items: center;
    }

    &__search-button {
        margin-right: 18px;
        position: relative;

        &::after {
            position: absolute;
            right: -9px;
            content: '';
            width: 2px;
            height: 46px;
            background-color: #000;
        }
    }

    &__cart-button {
        margin-right: 35px;
    }
}

.logo {

    &__image {
        width: 190px;
    }
}

.menu {

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin: 0 25px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: #000;
            transition: all 0.2s;
            transform: translateX(-50%);
        }

        &:hover {

            &:after {
                width: 100%;
            }
        }
    }
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.main {
    margin-bottom: 42px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        width: 520px;
        margin-right: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 99px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 25px;
        line-height: 30px;
        color: #aaa;
        margin-bottom: 30px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__amount-buttons {
        display: flex;
        align-items: center;
    }

    &__amount-counter {
        margin: 0 15px;
    }

    &__image {
        position: relative;
        height: 590px;
        transform: rotate(-8.3deg);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: transparent;
            box-shadow: 0px 10px 60px 30px rgba(18, 18, 24, 0.17);
        }
    }

    &__ingredients {
        display: flex;
        flex-direction: column;
    }

    &__ingredient {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 7px 24px 7px 7px;
    border-radius: 50px;
    transition: all 0.2s;

    &__image {
        background-color: #ffd154;
        padding: 17px;
        border-radius: 50%;
        margin-right: 24px;
    }

    &__img {
        height: 28px;
    }

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        transition: all 0.2s;
    }

    &:hover {
        background-color: #ffd154;

        .add-to-cart-button__text {
            color: #000;
        }
    }
}

.change-amount-button {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 30px;
    line-height: 0;
    filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.08));
}

.amount-counter {
    padding: 8px;
    border: 1px solid #ffd154;
    border-radius: 50%;

    &__inner {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
}

.ingredient {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #206456;
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        &_corn {
            background-color: #d51037;
        }

        &_spices {
            background-color: #FDB339;
        }
    }

    &__img {
        height: 45px;
    }
}